body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

}

.header {
    background: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    padding: 20px 0 240px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 120px;
    }


    &__points {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 15px;
        font-size: 32px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        color: #F7F7F7;
    }

    &__logo {
        display: flex;
        width: 70px;
        height: 60px;
        flex-shrink: 0;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-link {
        font-size: 23px;
        font-weight: 400;
        line-height: 60px;
        margin-right: 60px;
        color: #F7F7F7;
    }


    &__img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin-right: 60px;
        display: flex;
        align-items: center;
    }

    &__top-btn {
        font-size: 23px;
        font-weight: 400;
        border-radius: 5px;
        border: 2px solid #CD6326;
        width: 74px;
        height: 48px;
        display: flex;
        align-items: center;
        color: #F7F7F7;
        padding: 2px 23px;
        box-sizing: content-box;
        cursor: pointer;
    }

    &__content {
        max-width: 275px;
    }

    &__title {
        font-family: Open Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    &__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 50px;
        color: #F7F7F7;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 60px;
        background-color: #CD6326;
        font-size: 23px;
        font-weight: 400;
        line-height: normal;
        border-radius: 5px;
        color: #F7F7F7;
        cursor: pointer;
    }
}

.articles {

    background-color: #CCCCCC;
    padding: 120px 0 240px;


    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__title {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        color: #333;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        color: #666;
        margin-bottom: 120px;

    }

    &__slide-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: #F7F7F7;
        align-items: center;
        width: 100%;
    }

    &__slide {
        position: relative;
    }


    &__subscription-title {
        margin-bottom: 60px;
        text-align: center;
        color: #333;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 40.5px;
    }

    &__subscription-form {
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 120px;
        background: #CD6326;
        border: 1px solid #CD6326;
        border-radius: 0 5px 5px 0;
        padding: 15px;
        color: white;
        border-left: none;
        font-size: 16px;
    }

    &__mail {
        width: 540px;
        padding: 2px 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }


    //слайдер 

    .articles__slider {
        margin-bottom: 240px;

        .splide__list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 60px;

        }

        .articles__slide {
            &:not(:last-child) {
                margin-right: 60px;
            }
        }
    }

    .splide__track {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .arrow {
        width: 70px;
        height: 70px;
        background: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &--left {
            transform: scale(-1, 1);
        }
    }
}

.footer {
    background: url(../img/Rectangle-footer.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    padding: 150px 120px;

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
    }

    &__title {
        color: #F7F7F7;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        margin-left: 15px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 85px;
        color: #F7F7F7;
        text-decoration: none;
    }

    &__nav-link {
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        color: #F7F7F7;
    }

    &__socials {
        display: flex;
    }

    &__socials-picthers {
        color: #F7F7F7;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}